@font-face {
  font-family: "PTSans";
  src: url(../fonts/PTSans-Bold.woff) format("woff"),
    url(../fonts/PTSans-Bold.woff2) format("woff2");
  font-weight: normal;
  font-style: bold;
}
/**/
:root {
  --basic-white: #ffffff;
  --basic-pale-brow: #6a6a6a;
  --basic-dark-brown: #333333;
  --basic-black: #000000;
  --basic-grey: #eeeeee;
  --basic-ligth-grey: #a9a9a9;
  --basic-ultra-light-grey: #cacaca;
  --basic-black-light: #231f20;
  --medium-steel-grey: #666666;
  /*покой*/
  --basic-blue: #81b3d2;

  /*наведение*/
  --basic-blue-button: #669ec0;

  /*нажатие-текст*/
  --basic-transparent-black: #bdbbbc;
  /*фон*/
  --basic-blue-active: #5496bd;

  /*выбранный,забронировать,поиск гостиницы*/
  --basic-brown-default: #766357;
  --basic-brown-button: #604e43;
  --basic-brown-active: #503e33;

  /*дата заезда*/
  --basic-silver-gray: #f2f2f2;
  --basic-metalic-gray: #ebebeb;
}

body {
  max-width: 1200px;
  height: 70px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-dark-brown);
  background-color: var(--basic-white);
}

.site-link {
  line-height: 26px;
  font-weight: 700;
}

.visually-hidden {
  display: none;
}

.title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.text-reason {
  line-height: 26px;
}

.text-interest {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.subtitle {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.subtitle-white {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-white);
}

.text-white {
  color: var(--basic-white);
}

.block-blue {
  background-color: var(--basic-blue);
}

.block-grey {
  background-color: var(--basic-grey);
}

.main-navigation a {
  color: var(--basic-black);
}

.main-navigation a {
  text-decoration: none;
}

.site-navigation {
  list-style: none;
}

.site-link a:link,
.site-link a:visited {
  color: var(--basic-black);
}

.site-link a:hover {
  color: var(--basic-blue);
}

.site-link a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation .selected-link {
  color: var(--basic-brown-default);
}

.features-list {
  list-style: none;
}

.feature-item {
  text-align: center;
}

.benefits {
  background-color: var(--basic-blue);
}

.footer-social-list {
  list-style: none;
}

.copyright-logo:link {
  fill: var(--basic-black-light);
}

.copyright-logo:hover {
  fill: var(--basic-blue);
}

.copyright-logo:active {
  fill: var(--basic-transparent-black);
}

.catalog-heading .heading-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  text-decoration: none;
}

.catalog-heading .heading-link:hover {
  color: var(--basic-blue);
}

.catalog-heading .heading-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/* Подробнее */

.link-more {
  text-decoration: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.link-more:hover {
  background-color: var(--basic-blue-button);
}

.link-more:active {
  background-color: var(--basic-blue-active);
  color: rgba(255, 255, 255, 0.3);
}

/* Забронировать */

.button {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-brown-default);
}

.button:hover {
  background-color: var(--basic-brown-button);
}

.button:active {
  background-color: var(--basic-brown-active);
  color: rgba(255, 255, 255, 0.3);
}

/* icon-up-dir.icon-down-dir */

.icon-up:link {
  fill: var(--basic-ultra-light-grey);
}

.icon-up:hover {
  fill: var(--basic-black);
}

.icon-up:active {
  fill: var(--basic-blue-active);
}

.sort-link {
  color:rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed var(--basic-blue);
   text-decoration: none;

 }

 .sort-link:hover {
  color: var(--basic-blue);
  border-bottom: 1px dashed var(--basic-blue);
 }

 .sort-link:active {
   color: var(--basic-black);
   border: none

 }

 .sort-selected, .selected-sort {
   color: var(--basic-blue);
 }
