@font-face {
  font-family: "PTSans";
  src: url(../fonts/PTSans-Bold.woff) format("woff"),
    url(../fonts/PTSans-Bold.woff2) format("woff2");
  font-weight: normal;
  font-style: bold;
}
/**/
:root {
  --basic-white: #ffffff;
  --basic-pale-brow: #6a6a6a;
  --basic-dark-brown: #333333;
  --basic-black: #000000;
  --basic-grey: #eeeeee;
  --basic-ligth-grey: #a9a9a9;
  --basic-ultra-light-grey: #cacaca;
  --basic-black-light: #231f20;
  --medium-steel-grey: #666666;
  /*покой*/
  --basic-blue: #81b3d2;

  /*наведение*/
  --basic-blue-button: #669ec0;

  /*нажатие-текст*/
  --basic-transparent-black: #bdbbbc;
  /*фон*/
  --basic-blue-active: #5496bd;

  /*выбранный,забронировать,поиск гостиницы*/
  --basic-brown-default: #766357;
  --basic-brown-button: #604e43;
  --basic-brown-active: #503e33;

  /*дата заезда*/
  --basic-silver-gray: #f2f2f2;
  --basic-metalic-gray: #ebebeb;
}

.page-body {
  width: 1200px;
  height: 70px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-dark-brown);
  background-color: var(--basic-white);
  background-position: top center;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}



.site-link {
  line-height: 26px;
  font-weight: 700;
}

.visually-hidden {
  display: none;
}

.title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}

.text-reason {
  line-height: 26px;
}

.text text-interest {
  font-size: 30px;
  width: 297px;
  height: 24px;
  text-transform: uppercase;
}

.subtitle {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.subtitle-white {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-white);
}

.text-white {
  color: var(--basic-white);
}

.block-blue {
  background-color: var(--basic-blue);
}

.block-grey {
  background-color: var(--basic-grey);
}

.main-navigation a {
  color: var(--basic-black);
}

.main-navigation a {
  text-decoration: none;
}

.site-navigation {
  list-style: none;
  text-transform: uppercase;
}

.site-link a:link,
.site-link a:visited {
  color: var(--basic-black);
}

.site-link a:hover {
  color: var(--basic-blue);
}

.site-link a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation .selected-link {
  color: var(--basic-brown-default);
}

.features-list {
  list-style: none;
}

.feature-item {
  text-align: center;
}

.benefits {
  background-color: var(--basic-blue);
}

.footer-social-list {
  list-style: none;
}

.copyright-logo:link {
  fill: var(--basic-black-light);
}

.copyright-logo:hover {
  fill: var(--basic-blue);
}

.copyright-logo:active {
  fill: var(--basic-transparent-black);
}

.catalog-heading .heading-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  text-decoration: none;
}

.catalog-heading .heading-link:hover {
  color: var(--basic-blue);
}

.catalog-heading .heading-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/* Подробнее */

.link-more {
  text-decoration: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.link-more:hover {
  background-color: var(--basic-blue-button);
}

.link-more:active {
  background-color: var(--basic-blue-active);
  color: rgba(255, 255, 255, 0.3);
}

/* Забронировать */

.button {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-brown-default);
}

.button:hover {
  background-color: var(--basic-brown-button);
}

.button:active {
  background-color: var(--basic-brown-active);
  color: rgba(255, 255, 255, 0.3);
}

/* icon-up-dir.icon-down-dir */

.icon-up:link {
  fill: var(--basic-ultra-light-grey);
}

.icon-up:hover {
  fill: var(--basic-black);
}

.icon-up:active {
  fill: var(--basic-blue-active);
}

.sort-link {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed var(--basic-blue);
  text-decoration: none;
}

.sort-link:hover {
  color: var(--basic-blue);
  border-bottom: 1px dashed var(--basic-blue);
}

.sort-link:active {
  color: var(--basic-black);
  border: none;
}

.sort-selected,
.selected-sort {
  color: var(--basic-blue);
}


/* Grid */

.page {
  height: 100%;
}

/* Main header */

.main-header {
  margin-bottom: 70px;
}

/* Main footer */

.main-footer {
  color: var(--basic-white);
  background-position: 0 0;
  background-repeat: repeat;
}

/* Logo */

.main-header-logo {
  order: 1;
  justify-self: center;
}

/* Main navigation */

.main-navigation {
  display: grid;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-white);
  background-color: transparent;
}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
  background-color: var(--basic-white);
}
.main-container {
  display: grid;
  grid-template-columns: 1fr min-content;
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Features */

.features {
  margin-bottom: 80px;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item p {
  margin: 0 10px;
}

/* Index columns */

.index-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 35px;
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}

/* Main footer */

.main-footer {
  padding: 60px 0;
  margin-top: 65px;
  background-position: 0 0;
  background-repeat: repeat;
}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-social {
  width: 145px;
  justify-self: center;
  text-align: center;
}

.footer-copyright {
  max-width: 150px;
  margin: 0;
  justify-self: end;
}

.inner-page .main-navigation-wrapper {
  grid-template-columns: 170px 1fr min-content;
}

.inner-page .main-header-logo {
  order: 0;
}

/* Grid for pages */

.page-catalog {
  display: grid;
  grid-template-columns: 180px 1fr;
  align-content: start;
}

.page-catalog .page-title {
  grid-column: 1 / -1;
  margin-bottom: 40px;
}

.page-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 21px;
  line-height: 26px;

}

/* Breadcrumbs */

.breadcrumbs {
  padding: 0;
  margin: 0;
}

.catalog {
  margin-left: 60px;
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-black);
}

/* Grid for pages */

.page-hotel {
  display: grid;
  grid-template-columns: 460px 1fr;
  align-content: start;
}

.page-hotel .page-title {
  grid-column: 1 / -1;
}

.page-hotel .breadcrumbs {
  grid-column: 1 / -1;
  margin-bottom: 40px;
}

.hotel-photos {
  display: grid;
  grid-template-columns: 460px 1fr;
  align-content: start;
}

.hotel-photo-full {
  display: block;
  width: 135px;
  height: 90px;
  margin: 0;
  margin-bottom: 20px;
}
 .list-info {
  width: 135px;
  padding-top: 390px;
  padding-left: 113px;
}
